<?xml version="1.0" encoding="UTF-8"?>
<!--
  Azure App Service (Windows) web.config for a Go HTTP server
  running as a standalone exe via iisnode / httpPlatformHandler.

  The Go binary listens on %HTTP_PLATFORM_PORT% which IIS injects automatically.
  IIS proxies all incoming requests to the Go process.
-->
<configuration>
  <system.webServer>

    <handlers>
      <!-- Route all traffic to the Go binary via HttpPlatformHandler -->
      <add name="GoStressServer"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="%HOME%\site\wwwroot\cpu-stress-server.exe"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\go-stress.log"
                  startupTimeLimit="60"
                  requestTimeout="00:10:00">
      <environmentVariables>
        <!-- Go binary picks up PORT from this env var -->
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <!-- Use all vCPUs -->
        <environmentVariable name="GOMAXPROCS" value="0" />
      </environmentVariables>
    </httpPlatform>

    <!-- Increase IIS request timeout beyond the 2-min default -->
    <httpPlatform requestTimeout="00:10:00" />

  </system.webServer>
</configuration>
