<?xml version="1.0" encoding="UTF-8"?>
<!--
  Azure App Service (Windows) web.config
  - Removes PHP execution time limits so stress tests can run their full duration
  - Increases script timeout beyond IIS default (110s)
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="PHP_via_FastCGI"
           path="*.php"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Program Files\PHP\v8.2\php-cgi.exe"
           resourceType="Unspecified" />
    </handlers>

    <!-- Remove the 110-second IIS script timeout cap -->
    <cgi timeout="600" />

    <httpErrors errorMode="Detailed" />

    <rewrite>
      <rules>
        <rule name="Root redirect" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <system.web>
    <httpRuntime executionTimeout="600" />
  </system.web>

  <!-- PHP INI overrides via FastCGI environment -->
  <system.webServer>
    <fastCgi>
      <application fullPath="C:\Program Files\PHP\v8.2\php-cgi.exe">
        <environmentVariables>
          <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
          <environmentVariable name="PHPRC" value="C:\Program Files\PHP\v8.2" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>
